/AdventOfCode2020/Day1/bin/*
/AdventOfCode2020/Day1/obj/*
/AdventOfCode2020/Day2/bin/*
/AdventOfCode2020/Day2/obj/*
/AdventOfCode2020/Day3/bin/*
/AdventOfCode2020/Day3/obj/*
/AdventOfCode2020/Day4/bin/*
/AdventOfCode2020/Day4/obj/*
/AdventOfCode2020/Day5/bin/*
/AdventOfCode2020/Day5/obj/*
/AdventOfCode2020/Day6/bin/*
/AdventOfCode2020/Day6/obj/*
/AdventOfCode2020/Day7/bin/*
/AdventOfCode2020/Day7/obj/*
/AdventOfCode2020/Day8/bin/*
/AdventOfCode2020/Day8/obj/*
/AdventOfCode2020/Day9/bin/*
/AdventOfCode2020/Day9/obj/*
/AdventOfCode2020/Day10/bin/*
/AdventOfCode2020/Day10/obj/*
/AdventOfCode2020/.vs/*
/AdventOfCode2021/Day1/bin/*
/AdventOfCode2021/Day1/obj/*
/AdventOfCode2021/Day2/bin/*
/AdventOfCode2021/Day2/obj/*
/AdventOfCode2021/Day3/bin/*
/AdventOfCode2021/Day3/obj/*
/AdventOfCode2021/Day4/bin/*
/AdventOfCode2021/Day4/obj/*
/AdventOfCode2021/Day5/bin/*
/AdventOfCode2021/Day5/obj/*
/AdventOfCode2021/Day6/bin/*
/AdventOfCode2021/Day6/obj/*
/AdventOfCode2021/Day7/bin/*
/AdventOfCode2021/Day7/obj/*
/AdventOfCode2021/Day8/bin/*
/AdventOfCode2021/Day8/obj/*
/AdventOfCode2021/Day9/bin/*
/AdventOfCode2021/Day9/obj/*
/AdventOfCode2021/Day10/bin/*
/AdventOfCode2021/Day10/obj/*
/AdventOfCode2021/.vs/*
